/* Estilização da foto de perfil */
.foto-perfil {
    border-radius: 100%; /* Define a forma arredondada da foto */
    max-width: 200px; /* Limita a largura máxima da foto */
    border: 1px solid blue; /* Adiciona uma borda azul à foto */
}

/* Centraliza o conteúdo no contêiner */
.container {
    text-align: center;
}

/* Estilização do menu de navegação (navbar) */
#topMenu {
    display: flex;
    background-color: rgb(6, 229, 245); /* Cor de fundo do menu */
}

#topMenu li {
    color: rgb(2, 6, 6); /* Cor do texto dos itens do menu */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 15px; /* Espaçamento interno dos itens do menu */
}
h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: justify;
    padding:20}
/* Estilização geral para listas não ordenadas */
ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0;
    padding: 0;
}

/* Estilização dos itens da lista */
li {
    display: inline-block; /* Alinha os itens horizontalmente */
    margin-right: 20px; /* Espaçamento entre os itens */
}

/* Estilização dos links */
a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #333; /* Cor do texto dos links */
    font-size: 16px; /* Tamanho da fonte dos links */
}

/* Estilização geral do corpo da página */
body {
    background-color: rgb(228, 223, 217); /* Cor de fundo da página */
}

/* Centraliza o conteúdo verticalmente */
.centralize {
    margin: auto;
    text-align: center;
}

/* Estilização do rodapé */
footer {
    position: fixed; /* Mantém o rodapé fixo na parte inferior */
    left: 0;
    bottom: 0;
    width: 100%;
    color: black; /* Cor do texto no rodapé */
    background-color: rgb(6, 229, 245); /* Cor de fundo do rodapé */
    padding: 10px; /* Espaçamento interno do rodapé */
    margin: 0;
}
